body{
    background: rgba(100, 94, 94, 0.836);
}
.container{
    max-width: 400px;
    background: rgb(40, 40, 104);
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 40px 13px rgb(68, 64, 64);
    border-radius: 8px;
    color: rgb(247, 247, 247);
}
#display{
    text-align: right;
    height: 65px;
    line-height: 70px;
    padding: 15px 7px;
    font-size: 25px
}
.buttons{
    display: grid;
    border-bottom: 1px solid rgb(124, 121, 121);
    border-left: 1px solid rgb(124, 121, 121);
    grid-template-columns : 1fr 1fr 1fr 1fr;
}

.buttons > div{
    border-top:1px solid #999 ;
    border-right: 1px solid #999;
}
#color{
    background: rgb(248, 185, 68);
    color: black;
}
#color:hover{
    background: rgba(255, 166, 0, 0.795);
    color: black;
}
.button{
    border: 0.5px solid rgb(128, 128, 128);
    line-height: 90px;
    width: 90px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(255, 252, 252);
    background: rgba(57, 83, 100, 0.945);
    margin: 2px;
    border-radius: 50%;
}
#equal{
    background-color: rgb(31, 31, 102);
    color: white;
    grid-row: span 2;
}
.button:hover{
    background: rgb(102, 147, 177);
    color: black;
    transition: ease-in;
    line-height: 88px;
    width: 88px;
}